<div class="container-fluid bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-inverse pull-xs-right">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-right " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="www.github.com/raymondyegon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www.twitter.com/login"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
          </li>
        </ul>


      </div>
    </nav>
  </div>
</div>

<div class="jumbotron">
  <form class="text-center">
    <label for="search" class="sr-only">Search by Name:</label>
    <input type="text" class="form-group mx-sm-3 mb-2" placeholder="Enter github username" [(ngModel)]="username"
      name="username" (keyup)="findProfile()">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (keyup)="findProfile()">Search</button>
  </form>
</div>

<div class="container">
  <div *ngIf="profile">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{profile.name}} <small>({{profile.login}})</small>
        <span *ngIf="profile.company">, Works for {{profile.company}}</span>
        {{profile.location}}
      </div>
      <br><br>
      <div class="">
        <div class="row">
          <div class="">

            <img src="{{profile.avatar_url}}" class="img- img-responsive" alt="Profile Picture">

          </div>
          <div class="col-sm-4">
            <ul class="list-group">
              <li class="list-group-items" *ngIf="profile.bio">{{profile.bio}}</li>
              <li class="list-group-items" *ngIf="profile.hireable">{{profile.hireable}}</li>
              <li class="list-group-items" *ngIf="profile.blog"><a href="{{profile.blog}}"
                  target="_blank">{{profile.blog}}</a></li>
              <li class="list-group-items" *ngIf="profile.email"><a href="emailto:{{profile.email}}"
                  target="_blank">{{profile.email}}</a></li>

            </ul>

          </div>
          <div class="">
            <div>
              <p>
                <span class="label label-default">Followers: {{profile.followers}}.</span>
                <span class="label label-default"> Following: {{profile.following}}.</span>
                <span class="label label-default"> Public Gists: {{profile.public_gists}}.</span>
                <span class="label label-default">Public Repositories: {{profile.public_repos}}.</span>
              </p>
              <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-primary btn-sm">Navigate to github
                  profile</a></p>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Repositories</h3>
                </div>
                <div class="panel-body" *ngFor="let repo of repos">
                  <p class="clearfix">
                    {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-secondary pull-right"
                      target="_blank">Check out Project</a>

                  </p>
                  <p>{{repo.description}}</p>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>