<div class="container-fluid bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-inverse pull-xs-right">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-right " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
          </li>
        </ul>


      </div>
    </nav>
  </div>
</div>

<div class="jumbotron">
  <form class="text-center">
    <label for="search" class="sr-only">Search by Name:</label>
    <input class="form-group mx-sm-3 mb-2" type="search" id="search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>